In [179]:
import pandas as pd
base = pd.read_csv('/NaiveBayesWIN$N_PERIOD_D1.csv', sep=";")
base

        A  DifOpenClose_Open  DifHighLow_Open  TypeCandle  Gap  Tagert
0     101                888              666         111  333       1
1     999                888              555         222  333       0
2     101                888              666         111  444       1
3     999                888              555         222  333       0
4     101                888              666         111  333       1
...   ...                ...              ...         ...  ...     ...
1087  101                888              666         111  333       1
1088  999                888              555         222  444       0
1089  999                888              555         222  444       1
1090  101                888              666         111  444       1
1091  999                777              666         222  333       0

[1092 rows x 6 columns]

In [180]:
X = base.iloc[:, :5].values
y = base.iloc[:, 5].values

In [181]:
from sklearn.model_selection import train_test_split
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(X, y, test_size = 0.3)

In [182]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_treinamento, y_treinamento)

GaussianNB(priors=None, var_smoothing=1e-09)

In [183]:
prev = gnb.predict(X_teste)

In [184]:
from sklearn.metrics import accuracy_score
taxa_acerto = accuracy_score(y_teste, prev)
taxa_acerto

0.46646341463414637